body{
    background-color: #242A3E;
    color: #CED4E6;
    font-family: "Yu Gothic",sans-serif;
}

header{
    margin: 100px 0;
}

header ul{
    list-style:none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

header li{
    font-family: priori-sans, sans-serif;
    font-weight:normal;
    font-size: 32px;
    margin:0 22px;
}

header li a{
    color: #CED4E6;
    text-decoration: none;
    position: relative;
}

header li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    display: inline-block;
    width:39px;
    height: 2px;
    left:50%;
    transform: translateX(-50%);
    background-color: #FFEF99;
    border-radius: 1px;
}

.logo{
    height:280px;
    margin-top: 70px;
    background-image: url("logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

section{
    text-align:center;
    margin:100px; 
}

section h1 span{
    font-size: 37px;
    font-weight: normal;
    font-family: priori-sans, sans-serif;
    margin:30px;
    position: relative;
}

section h1 span::before{
    content: '';
    position: absolute;
    bottom: 50%;
    display: inline-block;
    width:30px;
    height: 2px;
    left:0;
    transform: translate(-150%,50%);
    background-color: #FFEF99;
    border-radius: 1px;
}

section h1 span::after{
    content: '';
    position: absolute;
    bottom: 50%;
    display: inline-block;
    width:30px;
    height: 2px;
    right:0;
    transform: translate(150%,50%);
    background-color: #FFEF99;
    border-radius: 1px;
}
